<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #hlo{
            position: absolute;
            top: 25%;
            left: 45%;
        }
        img{
            width: 200px;
            height: 200px;
        }
        h1{
            color: greenyellow;
            font-size: 60px;
            text-transform: capitalize;
            
        }
    </style>
</head>
<body>
    <div id="hlo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMnADOMZtW5KcEaKYxbAamAbIMp_GNUBV_YBkjUNs&s" alt="">
    <h1>tanks</h1>

    <h2><a href="{% url 'index' %}"> Continue shopping</a></h2>
</div>
</body>
</html>